# pycache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache
.pytest_cache


# vscode
.vscode/

# output files
logs/
log/
*.log
output/
results/
upload_files/
tmp/


# env
.env

# frontend
dist/
node_modules

# k8s deployment
k8s/
*.k8s
*-k8s

# ci
build/
ci/

# code check
code_check/
.coverage
coverage.xml
bandit-report.json
htmlcov
